{% extends 'stock_discounts/base.html' %}
{% load thumbnail %}
{% load pagination_tags %}

{% block content %}

{#        <div class="row">#}
{#            <div class="span9">#}
{#                <h4>{{ object.title }}</h4>#}
{#                {{ object.description|safe }}#}
{#            </div>#}
{#        </div>#}
        {% if object_list %}


               <div class="row">
                <div class="span9">
                {% autopaginate object_list 10 %}
                    {% for product in object_list %}
                        <div class="row thumbnails">
                            <div class="span3">
                                {% if product.image %}
                                    {% thumbnail product.image "260x180" crop="center" as im %}
                                        <img class="thumbnail" src="{{ im.url }}"
                                             alt="{{ product.title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="thumbnail"
                                         src="{{ STATIC_URL }}js/lib/holder.js/260x180/auto"
                                         alt="{{ product.title }}">
                                {% endif %}
                            </div>
                            <div class="span6">
                                <h4><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h4>

                                <p>{{ product.body|safe|truncatechars:150 }}</p>

                                <p>
                                    <a href="{{ product.get_absolute_url }}"
                                       class="btn btn-primary">Подробнее</a>
                                </p>
                            </div>
                        </div>
                        <div class="divider-list"></div>
                    {% endfor %}
                {% paginate %}
                </div>

            </div>

        {% endif %}


{% endblock %}

{#{% block content %}#}
{#    {% for object in object_list %}#}
{#        <div class="row">#}
{#            <div class="span9">#}
{#                <h4>{{ object.title }}</h4>#}
{#                {{ object.body|safe }}#}
{#            </div>#}
{#        </div>#}
{#        {% if object.live_entry_set %}#}
{#            <div class="row">#}
{#                <ul class="thumbnails">#}
{#                    {% for product in object.live_entry %}#}
{#                        <li class="span3">#}
{#                            <div class="thumbnail">#}
{#                                {% if product.main_photo %}#}
{#                                    {% thumbnail product.main_photo.image "260x180" crop="center" as im %}#}
{#                                        <img src="{{ im.url }}" alt="{{ product.title }}">#}
{#                                    {% endthumbnail %}#}
{#                                {% endif %}#}
{#                                <div class="caption">#}
{#                                    <h4>{{ product.title }}</h4>#}
{#                                    <p>{{ product.excerpt|truncatechars:150 }}</p>#}
{#                                    <p>#}
{#                                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Подробнее</a>#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    {% endfor %}#}
{##}
{#{% endblock %}#}